.playground-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.editor-container{
    /* min-height: 60vh; */
    flex: 1;
    display: flex;
    flex-direction: row;
}
.editor{
    flex: 1;
    padding: 2px;
}
.editor_file_header_name{
    background-color: #f2f4f6;
    padding: 5px;
    height: 20px;
    padding-left: 20px;
    color: orange;
}
.files{
    display: flex;
    background-color: red;
    padding: 2px;
}
li{
    list-style: none;
}
.editor_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #EBECED;
}
.project_name{
    font-size: 20px;
    font-weight: bold;
    color: blue;
}